

    #block-user-1 .c_menu .c_bounder {display: inline !important}
    #block-user-1 .c_menu li.expanded .c_bounder,
    #block-user-1 .c_menu li.collapsed .c_bounder {
	padding: 0 1px 0 0;
	letter-spacing: 20px;
	text-decoration: underline;
	background: url(images/menu_item-L1-bounder-BG.png) no-repeat 100% 100%}
    #block-user-1 .c_menu li .c_bounder {color: #34a500}
    #block-user-1 .c_menu li.active-trail .c_bounder {color: #000 !important}
    #block-user-1 .c_menu li li .c_bounder {display: none !important}


   .c_menu, .c_menu li {list-style: none; margin: 0; padding: 0}
   .c_menu ul {
	margin-top: 5px;
	margin-bottom: 6px}
   .c_menu li {
	padding-left: 15px;
	margin-top: 4px;
	margin-bottom: 4px}
   .c_menu li li {
	padding-left: 12px;
	margin-top: 2px;
	margin-bottom: 2px}


   .c_menu li.expanded {}
   .c_menu li.collapsed {}
   .c_menu li li.expanded {background: url(images/menu_item-BG.png) no-repeat 0 .6em}
   .c_menu li li.collapsed {background: url(images/menu_item-BG.png) no-repeat 0 .6em}


	.c_menu li {background: url(images/menu_item-L1-BG.png) no-repeat 0 .4em}
	.c_menu li a,
	.c_menu li a:visited,
	.c_menu li a:hover {
		font-family: Verdana, Tahoma;
		font-size: 10px;
		font-weight: bold;
		color: #34a500;
		text-decoration: underline}
	.c_menu li a.active {color: #000 !important}
	.c_menu li.expanded a {color: #000 !important}

	.c_menu li li {background: none}
	.c_menu li li a,
	.c_menu li li a:visited,
	.c_menu li li a:hover {
		font-family: Tahoma, Arial;
		font-size: 11px;
		font-weight: normal;
		color: #000;
		text-decoration: none}
	.c_menu li li a.active {font-weight: bold !important}
